[flake8]
max-line-length = 88
extend-ignore =
    E203,
    W503,
    E501,
    E302,
    E303,
    W391,
    E117,
    E251,
    E231,
    W292,

exclude =
    migrations,
    __pycache__,
    manage.py,
    settings.py,